.curved-loop-jacket {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.curved-loop-svg {
    user-select: none;
    width: 100%;
    aspect-ratio: 100 / 12;
    overflow: visible;
    display: block;
    font-size: 6rem;
    fill: #f4d03f;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    filter: drop-shadow(0 0 20px rgba(244, 208, 63, 0.3));
}
